div.dataTables_wrapper div.dataTables_length label {
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
}
.tc{
    border-collapse: separate !important;
}
.fc{
    font-size: 11px;
    font-weight: normal;
    color: #313131;
    height: 25px;
    padding: 6px;
}
table{
    border-spacing: 1px !important;
}
table.dataTable thead>tr>th.sorting_, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>td.sorting_, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting{
    padding-right: 0px !important;
}
.table tbody tr:nth-of-type(odd) {
    
    border-collapse: separate !important;
}

table {
    display: flex;
    flex-flow: column;
    width: 100%;
}

table thead {
    /* head takes the height it requires, 
    and it's not scaled when table is resized */
    flex: 0 0 auto;
    width: calc(100% - 0.9em);
}

table tbody {
    /* body takes all the remaining available space */
    flex: 1 1 auto;
    display: block;
    overflow-y: auto;
}

table tbody tr {
    width: 100%;
}

table thead,
table tbody tr {
    display: table;
    table-layout: fixed;
}

/* .table tr:nth-of-type(even) {
    background: blue;
} */

.tbody tr{
    border-collapse: separate !important;
}
.b{
    word-wrap: break-word;
}
.idClass {
        background-color: #fefefe;
}
tr .active{
    background-color: #80808054
}

.datatable-w30{
    width: 30%;
}

.text-end{
    text-align: end;
}


.pagination .page-item.active .page-link,.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #5a5278 !important;
    border-color: #5a5278 !important;
    color: inherit;
    cursor: default;
    z-index: 2;
    color: white;
}

.selected{
    background-color:rgba(0,0,0,0.04) !important;
}

.btn-margin-x{
    margin-right: 2%;
    margin-left: 2%;
}

.btn-margin{
    margin-right: 2%;
}

.container-section{
    height: 20px;
}

.container-body{
    overflow-y: auto;
    width: 100%;
}

.pagination-box{
    width: auto;
    margin-right: 3%;
     border: 1px solid #ced4da;
}

.sort-icon{
    float: right;
    color: #2b3035;
}

.sort-icon-white{
    float: right;
    color: #e5e0e0;
}

.height-10{
    height: 10px;
}


.pagination .page-item.active .page-link,.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #5a5278 !important;
    border-color: #5a5278 !important;
    color: inherit;
    cursor: default;
    z-index: 2;
    color: white;
}

.page-float{
    float: right;
}

.avisys-data-table-heading{
    font-size: 13px !important;
    font-family: 'Lato-Regular' !important;
}

