.avisys-welcome-main-section{
    background-color: #fff;
    margin: 15px 10px 15px 15px !important;
    border-radius: 15px !important;
    height: 100vh;
    // width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-image: url(../../../../assets/images/welcome-letters-banner-on-blue-600w-1189574716.webp);
    // object-fit: cover;
    // background-repeat: no-repeat;
}
.avisys-welcome-image{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

}

// .avisys-image-section{
//     height: 100%;
// }