.avisys-main-image-section{
  display: flex;
  justify-content: end;
  padding: 10px 20px;
  background-color: #fff !important;
}
.avisys-image-section{
  width: 100px;
  height: 100px;
}
.avisys-signup-heading{
  color: #44318d !important;
  font-family: 'Lato-Bold' !important;
}
.avisys-login-button{
  color: #fff;
  background-color: #44318d ;
  border-radius: 3px;
  border: 1px solid #44318d  !important;
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.control .caption {
  position: relative;
  top: .2rem;
  color: #888;
 }

 .content{
  background-color: #fff !important;
 }
 .form-control{
  padding: 6px 0px 9px 22px;
 }
 .p-viewer, .p-viewer2{
  float: right;
  margin-top: -30px;
  position: relative;
  z-index: 1;
  margin-right: 10px;
  cursor:pointer;
}