/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Lato-Light';
  src: url(./assets/fonts/Lato-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Lato-bold';
  src: url(./assets/fonts/Lato-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Lato-Black';
  src: url(./assets/fonts/Lato-Black.ttf) format('truetype');
}

@font-face {
  font-family: 'Lato-Regular';
  src: url(./assets/fonts/Lato-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Lato-Thin';
  src: url(./assets/fonts/Lato-Thin.ttf) format('truetype');
}

.card-height {
    min-height: calc(100vh - 150px);
}

.selected-image {
    width: 100px;
    height: 100px;
    margin: 10px;
    display: block;
    object-fit: cover;
}

.validate-text {
    font-size: 12px;
    color: red;
}

.mandatory {
    border-left: 4px solid #f27b77 !important;
}

.mandatoryG {
    border-left: 4px solid green !important;
}

.pt-30{
    padding: 30px 0 0 0;
}

.HideDiv {
    display: none !important;
  }

  .ShowDiv {
    display: block !important;
  }

  .overlay {
    background-color: rgba(23, 25, 28, 0.5);
    position: fixed;
    cursor: pointer;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
  }

  .overlay.open {
    display: block;
  }

  .sidebar-scroll {
    height: calc(100vh - 65px);
    overflow: auto;
  }

  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  .sticky-top {
    width: calc(100% - 280px);
    position: fixed;
  }

  .marginTop {
    margin-top: 7.1% !important;
  }


  // uml css
  .bg-grey {
    background-color: #f1f1f1;
    border-radius: 0 0.25rem 0.25rem 0 !important;
}

.padding-head {
    padding: 3px 10px;
}

.create-btn {
    margin: 0 5px 0 auto;
}



.f12,
.table-common td,
.table-common th {
    font-size: 12px;
}

.table-common .search-header {
    display: flex;
    align-items: center;
}

.table-common .btn {
    border-radius: 0.1rem;
}

.table-common .dropdown-menu {
    inset: 100% 0px auto auto !important;
}

.table-common .dropdown-menu:before {
    border-bottom-color: #ffffff;
    border-bottom-style: solid;
    border-bottom-width: 10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: "";
    display: inline-block;
    right: 4px;
    position: absolute;
    top: -8px;
}

.error-container{
	  height: 24px;
}

.pointer {
  cursor: pointer;
}

// Prathmesh 22-09-2022 starts performance 

.avisys-table-heading{
  font-size: 14px !important;
  font-family: 'Lato-Bold' !important;
}

// Ends


// Prathmesh Common CSS Added 28-09-2022

.performance-evaluation-form,
.performance-evaluation-form-parent {
  height: 100% !important;
}
.avisys-table-heading{
  font-size: 14px !important;
  font-family: 'Lato-Bold' !important;
}
/* 768px CSS Starts */
@media screen and (min-width:768px) {
  .performance-evaluation-form {
    background-color: #fff;
    border-radius: 5px;
    padding: 0px 20px 20px 20px;
  }

  .performance-evaluation-form-parent {
    padding: 10px 20px 10px 20px !important;
  }

  .performance-evaluation-system-first-dropdown {
    margin-bottom: 30px !important;
    border-top: 1px solid #ccc;
  }

  .per-heading {
    color: #000;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    line-height: 1.1;
    padding: 20px 0;
    /* margin-bottom: 20px; */
    /* border-bottom: 1px solid #ccc; */
  }

  .per-subheading {
    color: #000;
    font-size: 14px !important;
    font-family: "Lato", sans-serif !important;
    padding: 0px 5px 10px 5px;
    width: 225px !important;
    display: flex;
    align-items: start;
  }

  .per-dropdown {
    height: 30px;
    width: 215px;
    margin: 0 0 10px 15px;
    line-height: 30px;
    background-image: none;
    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: #e9e9e9;
    background-color: #fff;
    font-size: 14px;
    font-family: "Lato", sans-serif;
  }

  .per-textarea {
    height: 40px;
    width: 215px;
    margin: 0 0 10px 15px;
    border-color: #e9e9e9;
    font-size: 14px;
    font-family: "Lato", sans-serif;
  }

  .per-subheading:focus,
  .per-dropdown:focus,
  .per-textarea:focus {
    outline: none !important;
  }

  .per-buttons {
    margin: 0 130px 0 0;
  }

  .per-buttons-one {
    color: #fff;
    width: 70px !important;
    background-color: #6c63ff !important;
    border: 1px solid #6c63ff;
    margin: 0 10px;
    border-radius: 3px;
  }

  .per-buttons-two {
    color: #000;
    width: 70px !important;
    background-color: #fff !important;
    border: 1px solid #000;
    margin: 0 10px;
    border-radius: 3px;
  }

  .per-buttons-a-one {
    color: #fff !important;
    font-size: 14px !important;
    font-family: "Lato", sans-serif !important;
  }

  .per-buttons-a-two {
    color: #000 !important;
    font-size: 14px !important;
    font-family: "Lato", sans-serif !important;
  }

  .per-buttons-a-one:hover,
  .per-buttons-a-two:hover {
    text-decoration: none !important;
  }

  .per-heading-main-section {
    border-bottom: 1px solid #ccc;
  }

  .per-row-main-section {
    margin-top: 20px;
  }

  .per-buttons-section {
    background-color: #fff;
    height: 50px;
    box-shadow: 0 -1px 3px rgb(0 0 0 / 10%);
    position: absolute;
    bottom: 0;
    width: 95.7%;
  }

  .per-inner-button-section {
    height: 100%;
  }
}

/* Ends */

/* 1200px CSS starts */
@media screen and (min-width: 1200px) {
  .performance-evaluation-form {
    background-color: #fff;
    border-radius: 5px;
    padding: 0px 20px 20px 20px;
  }

  .performance-evaluation-form-parent {
    padding: 10px 20px 10px 20px !important;
  }

  .performance-evaluation-system-first-dropdown {
    margin-bottom: 30px !important;
    border-top: 1px solid #ccc;
  }

  .per-heading {
    color: #000;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    line-height: 1.1;
    padding: 20px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
  }

  .per-subheading {
    color: #000;
    font-size: 14px !important;
    font-family: "Lato", sans-serif !important;
    padding: 0px 5px 10px 5px;
    width: 500px !important;
    border-color: #e9e9e9 !important;
  }

  .per-dropdown {
    height: 35px;
    width: 500px;
    margin: 0 0 10px 15px;
    line-height: 30px;
    background-image: none;
    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: #e9e9e9;
    background-color: #fff;
    font-size: 14px;
    font-family: "Lato", sans-serif;
  }

  .per-textarea {
    height: 100px;
    width: 500px;
    margin: 0 0 10px 15px;
    border-color: #e9e9e9;
    font-size: 14px;
    font-family: "Lato", sans-serif;
  }

  .per-subheading:focus,
  .per-dropdown:focus,
  .per-textarea:focus {
    outline: none !important;
  }

  .per-buttons {
    margin: 0 110px 0 0;
  }

  .per-buttons-one {
    color: #fff;
    width: 70px !important;
    background-color: #6c63ff !important;
    border: 1px solid #6c63ff;
    margin: 0 10px;
    border-radius: 3px;
  }

  .per-buttons-two {
    color: #000;
    width: 70px !important;
    background-color: #fff !important;
    border: 1px solid #000;
    margin: 0 10px;
    border-radius: 3px;
  }

  .per-buttons-a-one {
    color: #fff !important;
    font-size: 14px !important;
    font-family: "Lato", sans-serif !important;
  }

  .per-buttons-a-two {
    color: #000 !important;
    font-size: 14px !important;
    font-family: "Lato", sans-serif !important;
  }

  .per-buttons-a-one:hover {
    text-decoration: none !important;
  }

  .per-buttons-section {
    background-color: #fff;
    height: 50px;
    box-shadow: 0 -1px 3px rgb(0 0 0 / 10%);
    position: absolute;
    bottom: 0;
    width: 97.1%;
  }

  .per-flex-section {
    margin-bottom: 20px;
  }
}

/* 1200 CSS Ends */
// Ends